<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>add client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Root page</a><br><br><br>

<form action="/clientSave" method="post">
    <input type="hidden" name="client_id" th:value="${client.getClient_id()}" />

    <label for="client_name">Client name:</label>
    <input type="text" id="client_name" name="client_name" th:value="${client.getClient_name()}"><br><br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" th:value="${client.getPhone()}"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>