<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<a href="/">Root page</a><br><br><br>

<form method="post" action="/filmAdd">
    <button type="submit">Add film</button>
</form>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Producer </th>
        <th> Release year </th>
        <th> Cassette price </th>
        <th> Disk price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${films.empty}">
        <td colspan="6"> No films here </td>
    </tr>
    <tr th:each="film : ${films}">
        <td><a th:href="'/film?film_id=' + ${film.getFilm_id()}"> <span th:text="${film.getFilm_name()}"> </span> </a></td>
        <td><span th:text="${film.getProducer()}"> </span></td>
        <td><span th:text="${film.getRelease_year()}"> </span></td>
        <td><span th:text="${film.getCassette_price()}"> </span></td>
        <td><span th:text="${film.getDisk_price()}"> </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>