<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>film info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<a href="/">Root page</a><br><br><br>

<p th:text="'Film id: ' + ${filmId}"></p>
<p th:text="'Film name: ' + ${filmName}"></p>
<p th:text="'Producer: ' + ${producer}"></p>
<p th:text="'Release year: ' + ${release_year}"></p>
<p th:text="'Cassette total number: ' + ${cassette_total_number}"></p>
<p th:text="'Disc total number: ' + ${disc_total_number}"></p>
<p th:text="'Cassette available number: ' + ${cassette_available_number}"></p>
<p th:text="'Disc available number: ' + ${disc_available_number}"></p>
<p th:text="'Cassette price: ' + ${cassette_price}"></p>
<p th:text="'Disk price: ' + ${disk_price}"></p>
<p th:text="'Film is removed: ' + ${film_is_removed}"></p>

<form method="post" action="/addFilm">
    <input type="hidden" name="id" th:value="${filmId}" />
    <button type="submit">Edit film info</button>
</form>
<br>
<form method="post" action="/deleteFilm">
    <input type="hidden" name="id" th:value="${filmId}" />
    <button type="submit">Delete film</button>
</form>

</body>
</html>
