<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>order info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<a href="/">Root page</a><br><br><br>

<p th:text="'Order id: ' + ${order.getOrder_id()}"></p>
<p> Client name: <a th:href="'/client?client_id=' + ${order.getClient().getClient_id()}">
    <span th:text="${order.getClient().getClient_name()}"></span> </a></p>
<p> Film name: <a th:href="'/film?film_id=' + ${order.getFilm().getFilm_id()}">
    <span th:text="${order.getFilm().getFilm_name()}"></span> </a></p>
<p th:text="'Film issue date: ' + ${order.getFilm_issue_date()}"></p>
<p th:text="'Film return date: ' + ${order.getFilm_return_date()}"></p>
<p th:text="'Mediun: ' + ${order.getMedium()}"></p>
<p th:text="'Price: ' + ${order.getPrice()}"></p>

<!--<form method="post" action="/orderAdd">-->
<!--    <input type="hidden" name="film_id" th:value="${film_id}"/>-->
<!--    <button type="submit">Edit film info</button>-->
<!--</form>-->
<!--<br>-->
<!--<form method="post" action="/orderDelete">-->
<!--    <input type="hidden" name="film_id" th:value="${film_id}"/>-->
<!--    <button type="submit">Delete film</button>-->
<!--</form>-->

</body>
</html>
